@inherits LayoutComponentBase

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active underlineHover"> Sign In </h2>

        <!-- Icon -->
        <div class="fadeIn first">
            <img class="img-fluid" src="images/Daily.svg" style="width:80%">
        </div>
        <div class="col-12">
            @Body
        </div>

    </div>
</div>